.centerLayout {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
}

.mainColumn {
  display: flex;
  max-height: calc(100 * var(--vh));
  overflow-y: auto;
  flex-direction: column;

  padding-bottom: 10rem;
}

@media screen and (max-width: 1200px) {
  .mainColumn {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .mainColumn {
    padding-left: 1.68rem;
    padding-right: 1.68rem;
  }
}
